.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    width: 290px;
    height: 70px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: var(--red);
    border: 2px solid var(--red);
    font-size: 24px;
    font-weight: bold;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    cursor: pointer;
}
.btn:hover{
    background-color: var(--btn-bg);
    color: var(--white);
    transform: translateY(-0.125em);
}