body{
    background-color: var(--red);
    font-family: var(--text-font);
    height: auto;
    display: grid;
    justify-content: center;
    padding-inline: 43px;
    padding-block: 42px;
}

.body-container{
    border-radius: 1em;
    width: 114em;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 5px 0px 10px 2px rgba(80, 79, 79, 0.21);
    padding-bottom: 80px;
}

main{
    padding-top: 82px;
    gap: 8em;
    display: grid;
    padding-inline: 72px;
}
.slide-container{
    display: flex;
    justify-content: center;
}

.slideshow{
    width: 1175px;
    height: 583px;
    position: relative;
    color: var(--white);
    padding-top: 66px;
    padding-left: 52px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideshow::after{
    position: absolute;
    content: " ";
    inset: 0;
    background: var(--gradient);
    z-index: 1;
    border-radius: 5px;
}

.slideshow h1{
    color: var(--white);
    font-weight: 900;
    font-family: var(--title-text);
    position: relative;
    z-index: 2;
    font-size: 80px;
}
.slideshow p{
    color: var(--white);
    font-weight: 300;
    font-family: var(--text-font);
    position: relative;
    z-index: 2;
    font-size: 28px;
    width: 500px;
}
button {
    position: relative;
    z-index: 2;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--btn-bg);
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--white);
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--white);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

.filmes-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 67px;
    cursor: pointer;
}
.card-filme{
    width: 250px; 
    height: 439px; 
    background-color: var(--white);
    box-shadow: 4px 4px 0px var(--black);
    border: 1px var(--black) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 13px;
}
.filme-capa{
    width: 227px;
    height: 331px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filme-nome{
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
    width: 216px; 
}
.dropdown-menu {
    min-width: 200px; 
   padding-left: 15px;
}

