body{
    background-color: var(--red);
    font-family: var(--text-font);
    height: auto;
    display: grid;
    justify-content: center;
    padding-inline: 43px;
    padding-block: 42px;
}

.body-container{
    border-radius: 1em;
    width: 114em;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 5px 0px 10px 2px rgba(80, 79, 79, 0.21);
    padding-bottom: 80px;
}

.profile{
    display: flex;
    gap: 13px;
    align-items: center;
}

.foto-perfil{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mensagem-inicial{
    color: var(--black);
}

.mensagem-inicial h1{
    font-size: 20px;
    font-weight: 500;
}

.mensagem-inicial h2{
    font-size: 24px;
    font-weight: 500;
}

header{
    height: auto;
    padding: 2.5em 4.75em 1em 3em;
    gap: 3em;
    position: relative;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    font-family: var(--text-font);
    align-items: center;
}
.navbar{
    justify-content: space-between;
    width: 1000px;
    height: 70px;
    border-radius: 15px;
    letter-spacing: 0.15em;
    color: var(--black);
    font-weight: 500 ;
    display: flex;
    align-items: center;
    padding: 0em 1.5em 0em 1.5em;
    box-shadow:6px 6px 0px rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
    border:4px solid rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
}

.navbar a{
    width: 170px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    justify-content: center;
    transition: 0.4s all ease;
}

.navbar a:hover{
    background-color: var(--gray);
    color: var(--white);
}
.input-info{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 350px;
    border-bottom: 2px solid var(--gray);
    padding-bottom: 3px;
    padding-left: 10px;
}

.input-info input{
    font-size: 15px;
    background: none;
    outline: 0;
    border: none;
}

.input-info input::placeholder{
    color: var(--gray);
}

main{
    padding-top: 82px;
    gap: 8em;
    display: grid;
    padding-inline: 72px;
}
.slide-container{
    display: flex;
    justify-content: center;
}

.slideshow{
    background-image: url('../img/card-bg.jpg');
    width: 1175px;
    height: 583px;
    position: relative;
    color: var(--white);
    padding-top: 66px;
    padding-left: 52px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slideshow::after{
    position: absolute;
    content: " ";
    inset: 0;
    background: var(--gradient);
    z-index: 1;
    border-radius: 5px;
}

.slideshow h1{
    color: var(--white);
    font-weight: 900;
    font-family: var(--title-text);
    position: relative;
    z-index: 2;
    font-size: 100px;
}
.slideshow p{
    color: var(--white);
    font-weight: 300;
    font-family: var(--text-font);
    position: relative;
    z-index: 2;
    font-size: 28px;
    width: 480px;
}
button {
    position: relative;
    z-index: 2;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--btn-bg);
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--white);
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--white);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

.filmes-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 67px;
    cursor: pointer;
}
.card-filme{
    width: 250px; 
    height: 439px; 
    background-color: var(--white);
    box-shadow: 4px 4px 0px var(--black);
    border: 1px var(--black) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 13px;
}
.filme-capa{
    background-image: url(https://i.pinimg.com/564x/93/1a/b8/931ab8aa547a58c7c4b983536e7738c6.jpg);
    width: 227px;
    height: 331px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filme-nome{
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
    width: 216px; 
}